include ../mixins/label/label.pug

.textfield__content
	+label('Text Field')(class='textfield__label' for='text')
	input(
		class='textfield__input'
		id='text' 
		type='text' 
		name='text' 
		placeholder='Email' 
		autocomplete='off'
		required)