include ../mixins/label/label.pug

form(class='textfield' action='' method='')
	.textfield__content
		+label('Text Field')(class='textfield__label' for='text')
		input(
			class='textfield_input'
			id='text' 
			type='text' 
			name='text' 
			placeholder='Email' 
			autocomplete='off'
			required)